@using Microsoft.AspNetCore.Mvc.Localization
@using AtlasSD.Controllers
@using Microsoft.AspNetCore.Builder;
@inject IViewLocalizer Localizer
@using AtlasSD.Controllers
@using Microsoft.Extensions.Localization;
@using System.Net
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer["HomePage"];
}

<link href="~/lib/jstree/dist/themes/default/style.css" rel="stylesheet" />
<script src="~/lib/jstree/dist/jstree.js"></script>

<style>
    /* liScroll styles */
    .tickercontainer { /* the outer div with the black border */
        width: 738px;
        height: 260px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }

        .tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
            position: relative;
            left: 10px;
            top: 8px;
            width: 100%;
            overflow: hidden;
        }

    ul.newsticker { /* that's your list */
        position: relative;
        left: 750px;
        font: bold 10px Verdana;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        ul.newsticker li {
            float: left; /* important: display inline gives incorrect results when you check for elem's width */
            margin: 0;
            padding: 0;
            background: #fff;
        }

        ul.newsticker a {
            white-space: nowrap;
            padding: 0;
            color: #ff0000;
            font: bold 10px Verdana;
            margin: 0 50px 0 0;
        }

        ul.newsticker span {
            margin: 0 10px 0 0;
        }

    .img {
        width: 250px;
    }
</style>

<div style="min-height: 115px;">
    <div style="float: right; margin-top: 10px;">
        <img src="~/images/stat.png" style="float: right; width: 150px;" />
    </div>

    <div style="float: right; margin-top: 10px;">
        <img src="~/images/technopark.png" style="width: 75px; float: right;" />
    </div>
</div>

<div class="row">
    <div class="col-md-3" style="width: 50%; overflow-x: auto;">
        <h3>@SharedLocalizer["Indicators"]</h3>
        <div id="tree">
            <ul>
                @foreach (Bloc bloc in ViewBag.Blocs)
                {
                    <li id="bloc-@bloc.Id" class="jstree-open">
                        <label style="font-size: 1.17em;">@bloc.Name</label>
                        <ul>
                            @{
                                List<Group> groups = ViewBag.Groups;
                                foreach (Group group in groups.Where(g => g.BlocId == bloc.Id))
                                {
                                    <li id="group-@group.Id">
                                        @group.Name
                                        <ul>
                                            @{
                                                List<Indicator> indicators = ViewBag.Indicators;
                                                foreach (Indicator indicator in indicators.Where(i => i.GroupId == group.Id))
                                                {
                                                    <li id="indicator-@indicator.Id">
                                                        @indicator.Name
                                                        <input type="button" title="@SharedLocalizer["Data"]" class="btn btn-default" style="background: url(/images/info.png) no-repeat center center; background-size: contain; width: 16px; height: 16px; border-width: 0px;" onclick="GoToIndicatroValues('@Url.Action("Index", "IndicatorValues", new { IndicatorId = indicator.Id })')" />
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-3" style="width: 50%;">
        <h3>@SharedLocalizer["Maps"]</h3>
        <label style="font-size: 1.17em;">@SharedLocalizer["Integrals"]</label>
        <ul id="integrals"></ul>
        <label style="font-size: 1.17em;">@SharedLocalizer["Thematic"]</label>
        <ul id="maps"></ul>
    </div>
</div>

<script>
    var $root = $("#tree").jstree();
    $('#tree').on("changed.jstree", function (e, data) {
        $.ajax({
            url: '@Url.Action("GetMaps")',
            data: { Id: data.selected },
            type: 'POST',
            success: function (data) {
                $("#maps").html('');
                for (i = 0; i < data.length; i++) {
                    $("#maps").append('<li><a href="/Maps/View/' + data[i]['id'] + '">' + data[i]['name'] + '</a></li>');
                }
            },
            error: function () {
            }
        });
    });

    function GoToIndicatroValues(url) {
        window.location.href = url;
    };

    $(document).ready(function (e) {
        $.ajax({
            url: '@Url.Action("GetIntegralMaps")',
            type: 'POST',
            success: function (data) {
                $("#integrals").html('');
                for (i = 0; i < data.length; i++) {
                    $("#integrals").append('<li><a href="/Maps/View/' + data[i]['id'] + '">' + data[i]['name'] + '</a></li>');
                }
            },
            error: function () {
            }
        });
    });

    jQuery.fn.liScroll = function (settings) {
        settings = jQuery.extend({
            travelocity: 0.07
        }, settings);
        return this.each(function () {
            var $strip = jQuery(this);
            $strip.addClass("newsticker")
            var stripWidth = 1;
            $strip.find("li").each(function (i) {
                stripWidth += jQuery(this, i).outerWidth(true);
            });
            var containerWidth = $strip.parent().parent().width();
            $strip.width(stripWidth);
            var totalTravel = stripWidth + containerWidth;
            var defTiming = totalTravel / settings.travelocity;
            function scrollnews(spazio, tempo) {
                $strip.animate({ left: '-=' + spazio }, tempo, "linear", function () { $strip.css("left", containerWidth); scrollnews(totalTravel, defTiming); });
            }
            scrollnews(totalTravel, defTiming);
            $strip.hover(function () {
                jQuery(this).stop();
            },
                function () {
                    var offset = jQuery(this).offset();
                    var residualSpace = offset.left + stripWidth;
                    var residualTime = residualSpace / settings.travelocity;
                    scrollnews(residualSpace, residualTime);
                });
        });
    };

    $(function () {
        $.ajax({
            url: '@Url.Action("GetMaps")',
            data: { Id: null },
            type: 'POST',
            success: function (data) {
                $("ul#ticker01").liScroll();
            },
            error: function () {
            }
        });
    });
</script>