@using Microsoft.AspNetCore.Mvc.Localization
@using AtlasSD.Controllers
@using Microsoft.AspNetCore.Builder;
@inject IViewLocalizer Localizer
@using AtlasSD.Controllers
@using Microsoft.Extensions.Localization;
@using System.Net
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = Localizer["HomePage"];
}

<link href="~/lib/jstree/dist/themes/default/style.css" rel="stylesheet" />
<script src="~/lib/jstree/dist/jstree.js"></script>

<style>
    /* liScroll styles */

    .tickercontainer { /* the outer div with the black border */
        /*border: 1px solid #000;*/
        /*background: #fff;*/
        /*background-color: aquamarine;*/
        width: 738px;
        height: 260px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;
    }

        .tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
            position: relative;
            left: 10px;
            top: 8px;
            width: 100%;
            overflow: hidden;
        }

    ul.newsticker { /* that's your list */
        position: relative;
        left: 750px;
        font: bold 10px Verdana;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        ul.newsticker li {
            float: left; /* important: display inline gives incorrect results when you check for elem's width */
            margin: 0;
            padding: 0;
            background: #fff;
            /*background-color: aquamarine;*/
        }

        ul.newsticker a {
            white-space: nowrap;
            padding: 0;
            color: #ff0000;
            font: bold 10px Verdana;
            margin: 0 50px 0 0;
            /*background-color: aquamarine;*/
        }

        ul.newsticker span {
            margin: 0 10px 0 0;
        } 

        .img{
            /*height: 250px;*/
            width: 250px;
        }

            body{
                /*background-color: aquamarine;*/
            }
</style>

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000" style="display: table-row;">

</div>*@



<div style="min-height: 115px;">
    <div style="float: right; margin-top: 10px;">
        <img src="~/images/stat.png" style="float: right; width: 150px;" />
    </div>
    
    <div style="float: right; margin-top: 10px;">
        <img src="~/images/technopark.png" style="width: 75px; float: right;" />
    </div>
</div>

<div class="row">
    <div class="col-md-3" style="width: 50%; overflow-x: auto;">
        <h3>@SharedLocalizer["Indicators"]</h3>
        <div id="tree">
            <ul>
                @foreach(Bloc bloc in ViewBag.Blocs)
                {
                    <li id="bloc-@bloc.Id" class="jstree-open">
                        <label style="font-size: 1.17em;">@bloc.Name</label>
                        <ul>
                            @{
                                List<Group> groups = ViewBag.Groups;
                                foreach (Group group in groups.Where(g => g.BlocId == bloc.Id))
                                {
                                    <li id="group-@group.Id">
                                        @group.Name
                                        <ul>
                                            @{ 
                                                List<Indicator> indicators = ViewBag.Indicators;
                                                foreach (Indicator indicator in indicators.Where(i => i.GroupId == group.Id))
                                                {
                                                    @*<li id="indicator-@indicator.Id">
                                                        @Html.ActionLink(@indicator.Name, "Index", "IndicatorValues", new { IndicatorId = indicator.Id }, null) <p>inertbn</p>
                                                    </li>*@
                                                    <li id="indicator-@indicator.Id">
                                                        @indicator.Name
                                                        <input type="button" title="@SharedLocalizer["Data"]" class="btn btn-default" style="background: url(/images/info.png) no-repeat center center; background-size: contain; width: 16px; height: 16px; border-width: 0px;" onclick="GoToIndicatroValues('@Url.Action("Index", "IndicatorValues", new { IndicatorId = indicator.Id })')" />
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-3" style="width: 50%;">
        <h3>@SharedLocalizer["Maps"]</h3>
        <label style="font-size: 1.17em;">@SharedLocalizer["Integrals"]</label>
        <ul id="integrals"></ul>
        <label style="font-size: 1.17em;">@SharedLocalizer["Thematic"]</label>
        <ul id="maps"></ul>
    </div>
    @*<div class="col-md-3" style="width: 33%;">
        <h2>@SharedLocalizer["IntegralMaps"]</h2>
        <ul id="integrals"></ul>
    </div>*@
    @*<div class="col-md-3">
        <h2>@SharedLocalizer["Maps"]</h2>
    </div>*@
</div>


@*@{
    if (new RequestLocalizationOptions().DefaultRequestCulture.Culture.Name == "en")
    {
        <div class="row">
            <ul id="ticker01">
                <li><a href="~/images/mapsen/Библиотеки_англ.jpg"><img src="~/images/mapsen/resized/Библиотеки_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Браки_англ.jpg"><img src="~/images/mapsen/resized/Браки_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Валов_рег_прод_видам_экон_деятельн_1991_англ.jpg"><img src="~/images/mapsen/resized/Валов_рег_прод_видам_экон_деятельн_1991_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Валов_рег_прод_видам_экон_деятельн_1999_англ.jpg"><img src="~/images/mapsen/resized/Валов_рег_прод_видам_экон_деятельн_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Валов_рег_прод_видам_экон_деятельн_2009_англ.jpg"><img src="~/images/mapsen/resized/Валов_рег_прод_видам_экон_деятельн_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Валов_рег_прод_видам_экон_деятельн_2014_англ.jpg"><img src="~/images/mapsen/resized/Валов_рег_прод_видам_экон_деятельн_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ВРП_англ.jpg"><img src="~/images/mapsen/resized/ВРП_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Выбросы_англ.jpg"><img src="~/images/mapsen/resized/Выбросы_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Высшее образование_англ.jpg"><img src="~/images/mapsen/resized/Высшее образование_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Дошкольное_образование_англ.jpg"><img src="~/images/mapsen/resized/Дошкольное_образование_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ЕДН_1991_англ.jpg"><img src="~/images/mapsen/resized/ЕДН_1991_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ЕДН_1999_англ.jpg"><img src="~/images/mapsen/resized/ЕДН_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ЕДН_2009_англ.jpg"><img src="~/images/mapsen/resized/ЕДН_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ЕДН_2014_англ.jpg"><img src="~/images/mapsen/resized/ЕДН_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Естественный прирост_англ.jpg"><img src="~/images/mapsen/resized/Естественный прирост_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ЖФ_англ.jpg"><img src="~/images/mapsen/resized/ЖФ_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Заболеваемость_населения_2009_англ.jpg"><img src="~/images/mapsen/resized/Заболеваемость_населения_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Заболеваемость_населения_2014_англ.jpg"><img src="~/images/mapsen/resized/Заболеваемость_населения_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Зарплата_по_отраслям_2014_англ.jpg"><img src="~/images/mapsen/resized/Зарплата_по_отраслям_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Инновация_англ.jpg"><img src="~/images/mapsen/resized/Инновация_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ИСДР2004_англ.jpg"><img src="~/images/mapsen/resized/ИСДР2004_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ИСДР2009_англ.jpg"><img src="~/images/mapsen/resized/ИСДР2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ИСДР2015_англ.jpg"><img src="~/images/mapsen/resized/ИСДР2015_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Контингент_детей_детдомов_1999_англ.jpg"><img src="~/images/mapsen/resized/Контингент_детей_детдомов_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Контингент_детей_детдомов_2015_англ.jpg"><img src="~/images/mapsen/resized/Контингент_детей_детдомов_2015_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Материнская смертность_англ.jpg"><img src="~/images/mapsen/resized/Материнская смертность_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Медицинские кадры за 1999_англ.jpg"><img src="~/images/mapsen/resized/Медицинские кадры за 1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Медицинские кадры за 2009_англ.jpg"><img src="~/images/mapsen/resized/Медицинские кадры за 2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Медицинские кадры за 2014_англ.jpg"><img src="~/images/mapsen/resized/Медицинские кадры за 2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Медицинские_кадры_англ.jpg"><img src="~/images/mapsen/resized/Медицинские_кадры_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Миграция_населения_1999_англ.jpg"><img src="~/images/mapsen/resized/Миграция_населения_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Миграция_населения_2009_англ.jpg"><img src="~/images/mapsen/resized/Миграция_населения_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Миграция_населения_2015_англ.jpg"><img src="~/images/mapsen/resized/Миграция_населения_2015_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Младенческая_смертность_англ.jpg"><img src="~/images/mapsen/resized/Младенческая_смертность_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Музеи_англ.jpg"><img src="~/images/mapsen/resized/Музеи_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Наука_англ.jpg"><img src="~/images/mapsen/resized/Наука_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Обеспеч_жильем_1999_англ.jpg"><img src="~/images/mapsen/resized/Обеспеч_жильем_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Обеспеч_жильем_2009_англ.jpg"><img src="~/images/mapsen/resized/Обеспеч_жильем_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Обеспеч_жильем_2014_англ.jpg"><img src="~/images/mapsen/resized/Обеспеч_жильем_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Образование_англ.jpg"><img src="~/images/mapsen/resized/Образование_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Общеобразоват_школы_поязыкам_обучения_англ.jpg"><img src="~/images/mapsen/resized/Общеобразоват_школы_поязыкам_обучения_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/ОБЩЕОБРАЗОВАТЕЛЬНЫЕ ШКОЛЫ_англ.jpg"><img src="~/images/mapsen/resized/ОБЩЕОБРАЗОВАТЕЛЬНЫЕ ШКОЛЫ_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Объекты здравоохранения за_1999_англ.jpg"><img src="~/images/mapsen/resized/Объекты здравоохранения за_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Объекты здравоохранения за_2009_англ.jpg"><img src="~/images/mapsen/resized/Объекты здравоохранения за_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Объекты здравоохранения за_2014_англ.jpg"><img src="~/images/mapsen/resized/Объекты здравоохранения за_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Педагогические кадры_англ.jpg"><img src="~/images/mapsen/resized/Педагогические кадры_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Пенсионное_обеспечение_англ.jpg"><img src="~/images/mapsen/resized/Пенсионное_обеспечение_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Плотность населения и людность городов_1999_англ.jpg"><img src="~/images/mapsen/resized/Плотность населения и людность городов_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Плотность населения и людность городов_2009_англ.jpg"><img src="~/images/mapsen/resized/Плотность населения и людность городов_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Плотность населения и людность городов_2014_англ.jpg"><img src="~/images/mapsen/resized/Плотность населения и людность городов_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Правонарушения_2003_англ.jpg"><img src="~/images/mapsen/resized/Правонарушения_2003_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Правонарушения_2009_англ.jpg"><img src="~/images/mapsen/resized/Правонарушения_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Правонарушения_2014_англ.jpg"><img src="~/images/mapsen/resized/Правонарушения_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Прирост населения_англ.jpg"><img src="~/images/mapsen/resized/Прирост населения_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Причины_смертности_2000_англ.jpg"><img src="~/images/mapsen/resized/Причины_смертности_2000_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Причины_смертности_2009_англ.jpg"><img src="~/images/mapsen/resized/Причины_смертности_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Причины_смертности_2014_англ.jpg"><img src="~/images/mapsen/resized/Причины_смертности_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Разводы_англ.jpg"><img src="~/images/mapsen/resized/Разводы_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Рождаемость_англ.jpg"><img src="~/images/mapsen/resized/Рождаемость_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Смертность_населения_англ.jpg"><img src="~/images/mapsen/resized/Смертность_населения_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Соотношение городского и сельского населения_англ.jpg"><img src="~/images/mapsen/resized/Соотношение городского и сельского населения_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Социальн_Пособия_англ.jpg"><img src="~/images/mapsen/resized/Социальн_Пособия_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/СППЖН_всего_англ.jpg"><img src="~/images/mapsen/resized/СППЖН_всего_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/СППЖН_гор_англ.jpg"><img src="~/images/mapsen/resized/СППЖН_гор_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/СППЖН_сельс_англ.jpg"><img src="~/images/mapsen/resized/СППЖН_сельс_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Сред_душев_денеж_доход_населения_англ.jpg"><img src="~/images/mapsen/resized/Сред_душев_денеж_доход_населения_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Театры_англ.jpg"><img src="~/images/mapsen/resized/Театры_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Технич_ профессион_образование_англ.jpg"><img src="~/images/mapsen/resized/Технич_ профессион_образование_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Учащиеся ср уч заведений_англ.jpg"><img src="~/images/mapsen/resized/Учащиеся ср уч заведений_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Численность_населения_1991_англ.jpg"><img src="~/images/mapsen/resized/Численность_населения_1991_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Численность_населения_1999_англ.jpg"><img src="~/images/mapsen/resized/Численность_населения_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Численность_населения_2009_англ.jpg"><img src="~/images/mapsen/resized/Численность_населения_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Численность_населения_2014_англ.jpg"><img src="~/images/mapsen/resized/Численность_населения_2014_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Экономически активное население_1991_англ.jpg"><img src="~/images/mapsen/resized/Экономически активное население_1991_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Экономически активное население_1999_англ.jpg"><img src="~/images/mapsen/resized/Экономически активное население_1999_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Экономически активное население_2009_англ.jpg"><img src="~/images/mapsen/resized/Экономически активное население_2009_англ.jpg" class="img" /></a></li>
                <li><a href="~/images/mapsen/Экономически активное население_2014_англ.jpg"><img src="~/images/mapsen/resized/Экономически активное население_2014_англ.jpg" class="img" /></a></li>
            </ul>
        </div>
    }
    else if (new RequestLocalizationOptions().DefaultRequestCulture.Culture.Name == "kk")
    {
        <div class="row">
            <ul id="ticker01">
                <li><a href="~/images/maps/Брачность.jpg"><img src="~/images/maps/resized/Брачность.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Библиотеки.jpg"><img src="~/images/maps/resized/Библиотеки.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП по видам_экон_деятельн_1991.jpg"><img src="~/images/maps/resized/ВРП по видам_экон_деятельн_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП по видам_экон_деятельн_1999.jpg"><img src="~/images/maps/resized/ВРП по видам_экон_деятельн_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП по видам_экон_деятельн_2009.jpg"><img src="~/images/maps/resized/ВРП по видам_экон_деятельн_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП по видам_экон_деятельн_2014.jpg"><img src="~/images/maps/resized/ВРП по видам_экон_деятельн_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП.jpg"><img src="~/images/maps/resized/ВРП.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Выбросы.jpg"><img src="~/images/maps/resized/Выбросы.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Высшее образование.jpg"><img src="~/images/maps/resized/Высшее образование.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Дома_ребенка_1999.jpg"><img src="~/images/maps/resized/Дома_ребенка_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Дома_ребенка_2009.jpg"><img src="~/images/maps/resized/Дома_ребенка_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Дома_ребенка_2014.jpg"><img src="~/images/maps/resized/Дома_ребенка_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Дошкольное образование.jpg"><img src="~/images/maps/resized/Дошкольное образование.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ЕДН_1991.jpg"><img src="~/images/maps/resized/ЕДН_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ЕДН_1999.jpg"><img src="~/images/maps/resized/ЕДН_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ЕДН_2009.jpg"><img src="~/images/maps/resized/ЕДН_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ЕДН_2014.jpg"><img src="~/images/maps/resized/ЕДН_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Естественный прирост.jpg"><img src="~/images/maps/resized/Естественный прирост.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Жилищный фонд.jpg"><img src="~/images/maps/resized/Жилищный фонд.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Заболеваемость_населения_1999_г.jpg"><img src="~/images/maps/resized/Заболеваемость_населения_1999_г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Заболеваемость_населения_2009_г.jpg"><img src="~/images/maps/resized/Заболеваемость_населения_2009_г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Заболеваемость_населения_2014_г.jpg"><img src="~/images/maps/resized/Заболеваемость_населения_2014_г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Зарплата_по_отраслям.jpg"><img src="~/images/maps/resized/Зарплата_по_отраслям.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Инновации.jpg"><img src="~/images/maps/resized/Инновации.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Материнская смертность.jpg"><img src="~/images/maps/resized/Материнская смертность.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Медицинские кадры за 1999 г.jpg"><img src="~/images/maps/resized/Медицинские кадры за 1999 г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Медицинские кадры за 2009 г.jpg"><img src="~/images/maps/resized/Медицинские кадры за 2009 г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Медицинские кадры за 2014 г.jpg"><img src="~/images/maps/resized/Медицинские кадры за 2014 г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Медицинские_кадры частных организаций.jpg"><img src="~/images/maps/resized/Медицинские_кадры частных организаций.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Миграция_населения_1999.jpg"><img src="~/images/maps/resized/Миграция_населения_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Миграция_населения_2009.jpg"><img src="~/images/maps/resized/Миграция_населения_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Миграция_населения_2015.jpg"><img src="~/images/maps/resized/Миграция_населения_2015.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Младенческая_смертность.jpg"><img src="~/images/maps/resized/Младенческая_смертность.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Музеи.jpg"><img src="~/images/maps/resized/Музеи.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Наука.jpg"><img src="~/images/maps/resized/Наука.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Обеспеченность жильем_1999.jpg"><img src="~/images/maps/resized/Обеспеченность жильем_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Обеспеченность жильем_2009.jpg"><img src="~/images/maps/resized/Обеспеченность жильем_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Обеспеченность жильем_2014.jpg"><img src="~/images/maps/resized/Обеспеченность жильем_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Образование.jpg"><img src="~/images/maps/resized/Образование.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Общеобразоват_школы_поязыкам_обучения.jpg"><img src="~/images/maps/resized/Общеобразоват_школы_поязыкам_обучения.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Общеобразовательные школы.jpg"><img src="~/images/maps/resized/Общеобразовательные школы.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Объекты здравоохранения за_1999.jpg"><img src="~/images/maps/resized/Объекты здравоохранения за_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Объекты здравоохранения за_2009.jpg"><img src="~/images/maps/resized/Объекты здравоохранения за_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Объекты здравоохранения за_2014.jpg"><img src="~/images/maps/resized/Объекты здравоохранения за_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Педагогические кадры.jpg"><img src="~/images/maps/resized/Педагогические кадры.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Пенсионное_обеспечение.jpg"><img src="~/images/maps/resized/Пенсионное_обеспечение.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Плотность населения и людность городов_1999.jpg"><img src="~/images/maps/resized/Плотность населения и людность городов_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Плотность населения и людность городов_2009.jpg"><img src="~/images/maps/resized/Плотность населения и людность городов_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Плотность населения и людность городов_2014.jpg"><img src="~/images/maps/resized/Плотность населения и людность городов_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Половозраст_структура_насел_1991.jpg"><img src="~/images/maps/resized/Половозраст_структура_насел_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Половозраст_структура_насел_1999.jpg"><img src="~/images/maps/resized/Половозраст_структура_насел_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Половозраст_структура_насел_2009.jpg"><img src="~/images/maps/resized/Половозраст_структура_насел_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Половозраст_структура_насел_2014.jpg"><img src="~/images/maps/resized/Половозраст_структура_насел_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Правонарушения_2003.jpg"><img src="~/images/maps/resized/Правонарушения_2003.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Правонарушения_2009.jpg"><img src="~/images/maps/resized/Правонарушения_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Правонарушения_2014.jpg"><img src="~/images/maps/resized/Правонарушения_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Прирост населения.jpg"><img src="~/images/maps/resized/Прирост населения.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Причины_смертности_1999.jpg"><img src="~/images/maps/resized/Причины_смертности_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Причины_смертности_2009.jpg"><img src="~/images/maps/resized/Причины_смертности_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Причины_смертности_2014.jpg"><img src="~/images/maps/resized/Причины_смертности_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Разводимость.jpg"><img src="~/images/maps/resized/Разводимость.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Рождаемость.jpg"><img src="~/images/maps/resized/Рождаемость.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Смертность.jpg"><img src="~/images/maps/resized/Смертность.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Соотношение городского и сельского населения.jpg"><img src="~/images/maps/resized/Соотношение городского и сельского населения.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Социальн_Пособия.jpg"><img src="~/images/maps/resized/Социальн_Пособия.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/СППЖН_всего.jpg"><img src="~/images/maps/resized/СППЖН_всего.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/СППЖН_гор.jpg"><img src="~/images/maps/resized/СППЖН_гор.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/СППЖН_сельс.jpg"><img src="~/images/maps/resized/СППЖН_сельс.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Сред_душев_денеж_доход_населения.jpg"><img src="~/images/maps/resized/Сред_душев_денеж_доход_населения.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Театры.jpg"><img src="~/images/maps/resized/Театры.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Технич_ профессион_образование.jpg"><img src="~/images/maps/resized/Технич_ профессион_образование.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Учащиеся средних учебных заведений.jpg"><img src="~/images/maps/resized/Учащиеся средних учебных заведений.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Численность_населения_1991.jpg"><img src="~/images/maps/resized/Численность_населения_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Численность_населения_1999.jpg"><img src="~/images/maps/resized/Численность_населения_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Численность_населения_2009.jpg"><img src="~/images/maps/resized/Численность_населения_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Численность_населения_2014.jpg"><img src="~/images/maps/resized/Численность_населения_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Экономически активное население_1991.jpg"><img src="~/images/maps/resized/Экономически активное население_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Экономически активное население_1999.jpg"><img src="~/images/maps/resized/Экономически активное население_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Экономически активное население_2009.jpg"><img src="~/images/maps/resized/Экономически активное население_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Экономически активное население_2014.jpg"><img src="~/images/maps/resized/Экономически активное население_2014.jpg" class="img" /></a></li>
            </ul>
        </div>
    }
    else
    {
        <div class="row">
            <ul id="ticker01">
                <li><a href="~/images/maps/Брачность.jpg"><img src="~/images/maps/resized/Брачность.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Библиотеки.jpg"><img src="~/images/maps/resized/Библиотеки.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП по видам_экон_деятельн_1991.jpg"><img src="~/images/maps/resized/ВРП по видам_экон_деятельн_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП по видам_экон_деятельн_1999.jpg"><img src="~/images/maps/resized/ВРП по видам_экон_деятельн_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП по видам_экон_деятельн_2009.jpg"><img src="~/images/maps/resized/ВРП по видам_экон_деятельн_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП по видам_экон_деятельн_2014.jpg"><img src="~/images/maps/resized/ВРП по видам_экон_деятельн_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ВРП.jpg"><img src="~/images/maps/resized/ВРП.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Выбросы.jpg"><img src="~/images/maps/resized/Выбросы.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Высшее образование.jpg"><img src="~/images/maps/resized/Высшее образование.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Дома_ребенка_1999.jpg"><img src="~/images/maps/resized/Дома_ребенка_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Дома_ребенка_2009.jpg"><img src="~/images/maps/resized/Дома_ребенка_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Дома_ребенка_2014.jpg"><img src="~/images/maps/resized/Дома_ребенка_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Дошкольное образование.jpg"><img src="~/images/maps/resized/Дошкольное образование.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ЕДН_1991.jpg"><img src="~/images/maps/resized/ЕДН_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ЕДН_1999.jpg"><img src="~/images/maps/resized/ЕДН_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ЕДН_2009.jpg"><img src="~/images/maps/resized/ЕДН_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/ЕДН_2014.jpg"><img src="~/images/maps/resized/ЕДН_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Естественный прирост.jpg"><img src="~/images/maps/resized/Естественный прирост.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Жилищный фонд.jpg"><img src="~/images/maps/resized/Жилищный фонд.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Заболеваемость_населения_1999_г.jpg"><img src="~/images/maps/resized/Заболеваемость_населения_1999_г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Заболеваемость_населения_2009_г.jpg"><img src="~/images/maps/resized/Заболеваемость_населения_2009_г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Заболеваемость_населения_2014_г.jpg"><img src="~/images/maps/resized/Заболеваемость_населения_2014_г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Зарплата_по_отраслям.jpg"><img src="~/images/maps/resized/Зарплата_по_отраслям.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Инновации.jpg"><img src="~/images/maps/resized/Инновации.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Материнская смертность.jpg"><img src="~/images/maps/resized/Материнская смертность.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Медицинские кадры за 1999 г.jpg"><img src="~/images/maps/resized/Медицинские кадры за 1999 г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Медицинские кадры за 2009 г.jpg"><img src="~/images/maps/resized/Медицинские кадры за 2009 г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Медицинские кадры за 2014 г.jpg"><img src="~/images/maps/resized/Медицинские кадры за 2014 г.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Медицинские_кадры частных организаций.jpg"><img src="~/images/maps/resized/Медицинские_кадры частных организаций.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Миграция_населения_1999.jpg"><img src="~/images/maps/resized/Миграция_населения_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Миграция_населения_2009.jpg"><img src="~/images/maps/resized/Миграция_населения_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Миграция_населения_2015.jpg"><img src="~/images/maps/resized/Миграция_населения_2015.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Младенческая_смертность.jpg"><img src="~/images/maps/resized/Младенческая_смертность.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Музеи.jpg"><img src="~/images/maps/resized/Музеи.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Наука.jpg"><img src="~/images/maps/resized/Наука.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Обеспеченность жильем_1999.jpg"><img src="~/images/maps/resized/Обеспеченность жильем_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Обеспеченность жильем_2009.jpg"><img src="~/images/maps/resized/Обеспеченность жильем_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Обеспеченность жильем_2014.jpg"><img src="~/images/maps/resized/Обеспеченность жильем_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Образование.jpg"><img src="~/images/maps/resized/Образование.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Общеобразоват_школы_поязыкам_обучения.jpg"><img src="~/images/maps/resized/Общеобразоват_школы_поязыкам_обучения.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Общеобразовательные школы.jpg"><img src="~/images/maps/resized/Общеобразовательные школы.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Объекты здравоохранения за_1999.jpg"><img src="~/images/maps/resized/Объекты здравоохранения за_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Объекты здравоохранения за_2009.jpg"><img src="~/images/maps/resized/Объекты здравоохранения за_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Объекты здравоохранения за_2014.jpg"><img src="~/images/maps/resized/Объекты здравоохранения за_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Педагогические кадры.jpg"><img src="~/images/maps/resized/Педагогические кадры.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Пенсионное_обеспечение.jpg"><img src="~/images/maps/resized/Пенсионное_обеспечение.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Плотность населения и людность городов_1999.jpg"><img src="~/images/maps/resized/Плотность населения и людность городов_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Плотность населения и людность городов_2009.jpg"><img src="~/images/maps/resized/Плотность населения и людность городов_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Плотность населения и людность городов_2014.jpg"><img src="~/images/maps/resized/Плотность населения и людность городов_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Половозраст_структура_насел_1991.jpg"><img src="~/images/maps/resized/Половозраст_структура_насел_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Половозраст_структура_насел_1999.jpg"><img src="~/images/maps/resized/Половозраст_структура_насел_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Половозраст_структура_насел_2009.jpg"><img src="~/images/maps/resized/Половозраст_структура_насел_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Половозраст_структура_насел_2014.jpg"><img src="~/images/maps/resized/Половозраст_структура_насел_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Правонарушения_2003.jpg"><img src="~/images/maps/resized/Правонарушения_2003.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Правонарушения_2009.jpg"><img src="~/images/maps/resized/Правонарушения_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Правонарушения_2014.jpg"><img src="~/images/maps/resized/Правонарушения_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Прирост населения.jpg"><img src="~/images/maps/resized/Прирост населения.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Причины_смертности_1999.jpg"><img src="~/images/maps/resized/Причины_смертности_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Причины_смертности_2009.jpg"><img src="~/images/maps/resized/Причины_смертности_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Причины_смертности_2014.jpg"><img src="~/images/maps/resized/Причины_смертности_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Разводимость.jpg"><img src="~/images/maps/resized/Разводимость.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Рождаемость.jpg"><img src="~/images/maps/resized/Рождаемость.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Смертность.jpg"><img src="~/images/maps/resized/Смертность.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Соотношение городского и сельского населения.jpg"><img src="~/images/maps/resized/Соотношение городского и сельского населения.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Социальн_Пособия.jpg"><img src="~/images/maps/resized/Социальн_Пособия.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/СППЖН_всего.jpg"><img src="~/images/maps/resized/СППЖН_всего.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/СППЖН_гор.jpg"><img src="~/images/maps/resized/СППЖН_гор.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/СППЖН_сельс.jpg"><img src="~/images/maps/resized/СППЖН_сельс.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Сред_душев_денеж_доход_населения.jpg"><img src="~/images/maps/resized/Сред_душев_денеж_доход_населения.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Театры.jpg"><img src="~/images/maps/resized/Театры.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Технич_ профессион_образование.jpg"><img src="~/images/maps/resized/Технич_ профессион_образование.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Учащиеся средних учебных заведений.jpg"><img src="~/images/maps/resized/Учащиеся средних учебных заведений.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Численность_населения_1991.jpg"><img src="~/images/maps/resized/Численность_населения_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Численность_населения_1999.jpg"><img src="~/images/maps/resized/Численность_населения_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Численность_населения_2009.jpg"><img src="~/images/maps/resized/Численность_населения_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Численность_населения_2014.jpg"><img src="~/images/maps/resized/Численность_населения_2014.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Экономически активное население_1991.jpg"><img src="~/images/maps/resized/Экономически активное население_1991.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Экономически активное население_1999.jpg"><img src="~/images/maps/resized/Экономически активное население_1999.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Экономически активное население_2009.jpg"><img src="~/images/maps/resized/Экономически активное население_2009.jpg" class="img" /></a></li>
                <li><a href="~/images/maps/Экономически активное население_2014.jpg"><img src="~/images/maps/resized/Экономически активное население_2014.jpg" class="img" /></a></li>
            </ul>
        </div>
    }
}*@

<script>
    var $root = $("#tree").jstree()
        //.bind("ready.jstree", function (event, data) {
        //    $(this).jstree("open_all");
        //});
    

    $('#tree').on("changed.jstree", function (e, data) {
        $.ajax({
            url: '@Url.Action("GetMaps")',
            data: { Id: data.selected },
            type: 'POST',
            success: function (data) {
                $("#maps").html('');
                for (i = 0; i < data.length; i++) {
                    $("#maps").append('<li><a href="/Maps/View/' + data[i]['id'] + '">' + data[i]['name'] + '</a></li>');
                }
            },
            error: function () {
            }
        });
    });

    function GoToIndicatroValues(url) {
        window.location.href = url;
    };

    $(document).ready(function (e) {
        $.ajax({
            url: '@Url.Action("GetIntegralMaps")',
            type: 'POST',
            success: function (data) {
                $("#integrals").html('');
                for (i = 0; i < data.length; i++) {
                    $("#integrals").append('<li><a href="/Maps/View/' + data[i]['id'] + '">' + data[i]['name'] + '</a></li>');
                }
            },
            error: function () {
            }
        });
    });

    jQuery.fn.liScroll = function (settings) {
        settings = jQuery.extend({
            travelocity: 0.07
        }, settings);
        return this.each(function () {
            var $strip = jQuery(this);
            $strip.addClass("newsticker")
            var stripWidth = 1;
            $strip.find("li").each(function (i) {
                stripWidth += jQuery(this, i).outerWidth(true); // thanks to Michael Haszprunar and Fabien Volpi
            });
            var $mask = $strip.wrap("<div class='mask'></div>");
            var $tickercontainer = $strip.parent().wrap("<div class='tickercontainer'></div>");
            var containerWidth = $strip.parent().parent().width();	//a.k.a. 'mask' width
            $strip.width(stripWidth);
            var totalTravel = stripWidth + containerWidth;
            var defTiming = totalTravel / settings.travelocity;	// thanks to Scott Waye
            function scrollnews(spazio, tempo) {
                $strip.animate({ left: '-=' + spazio }, tempo, "linear", function () { $strip.css("left", containerWidth); scrollnews(totalTravel, defTiming); });
            }
            scrollnews(totalTravel, defTiming);
            $strip.hover(function () {
                jQuery(this).stop();
            },
                function () {
                    var offset = jQuery(this).offset();
                    var residualSpace = offset.left + stripWidth;
                    var residualTime = residualSpace / settings.travelocity;
                    scrollnews(residualSpace, residualTime);
                });
        });
    };

    $(function () {
        $.ajax({
            url: '@Url.Action("GetMaps")',
            data: { Id: null },
            type: 'POST',
            success: function (data) {
                //$("#maps").html('');
                //for (i = 0; i < data.length; i++) {
                //    $("#ticker01").append('<li><a href="/Maps/View/' + data[i]['id'] + '">' + data[i]['name'] + '</a></li>');
                //}
                $("ul#ticker01").liScroll();
            },
            error: function () {
            }
        });
        
    });
</script>