@using AtlasSD.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Parse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Parse"]</h2>
<h4>@SharedLocalizer["IndicatorValues"]</h4>

<form asp-action="Parse"
      asp-controller="IndicatorValues"
      method="post">
    <hr />
    <input id="backlinktext" type="hidden" name="backlink" />
    @if(!string.IsNullOrEmpty(ViewBag.Error))
    {
        <h4>
            @SharedLocalizer["Error"]: @ViewBag.Error
        </h4>
        <br />
    }
    @if (!string.IsNullOrEmpty(ViewBag.Report))
    {
        <h4>
            @ViewBag.Report
        </h4>
        <br />
    }
    @if (ViewBag.Properties == null)
    {
        <label>@SharedLocalizer["Link"]</label>
        <input type="text" name="Url" class="form-control" />
        <br />
        <input type="submit" value="@SharedLocalizer["TakeALook"]" />
    }
    else
    {
        <h4>@SharedLocalizer["UploadDataInThisWay"]</h4>
        <table class="table">
            <tr>
                <td>
                    @Html.Raw(SharedLocalizer["Source"])
                </td>
                <td>
                    @Html.DropDownList("SourceId", (IEnumerable<SelectListItem>)ViewBag.SourceId, htmlAttributes: new { @id = "SourceId", @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(SharedLocalizer["Bloc"])
                </td>
                <td>
                    @Html.DropDownList("BlocId", (IEnumerable<SelectListItem>)ViewBag.BlocId, htmlAttributes: new { @id = "BlocId", @class = "form-control", @onchange = "ChangeBloc()" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(SharedLocalizer["Group"])
                </td>
                <td>
                    @Html.DropDownList("GroupId", (IEnumerable<SelectListItem>)ViewBag.GroupId, htmlAttributes: new { @id = "GroupId", @class = "form-control", @onchange = "ChangeGroup()" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(SharedLocalizer["Indicator"])
                </td>
                <td>
                    @Html.DropDownList("IndicatorId", (IEnumerable<SelectListItem>)ViewBag.IndicatorId, htmlAttributes: new { @id = "IndicatorId", @class = "form-control" })
                </td>
            </tr>
            <tr>
                <th>
                    @SharedLocalizer["IndicatorValuesParameters"]
                </th>
                <th>
                    @SharedLocalizer["DataParametersFromTheSite"]
                </th>
            </tr>
            <tr>
                <td>
                    @Html.Raw(SharedLocalizer["Year"])
                </td>
                <td>
                    @Html.DropDownList("Year", (IEnumerable<SelectListItem>)ViewBag.Year, htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(SharedLocalizer["Region"])
                </td>
                <td>
                    @Html.DropDownList("Region", (List<SelectListItem>)ViewBag.Properties, "", htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Raw(SharedLocalizer["Value"])
                </td>
                <td>
                    @Html.DropDownList("Value", (List<SelectListItem>)ViewBag.Properties, "", htmlAttributes: new { @class = "form-control" })
                </td>
            </tr>
        </table>
        <input type="text" hidden="hidden" name="JsonText" value="@ViewBag.JsonText"/>
        <input type="submit" value="@SharedLocalizer["Upload"]" />
    }
    <br />
    <br />
</form>

<div>
    <a id="backlink" href="@ViewBag.BackLink">@SharedLocalizer["BackToList"]</a>
</div>

<script>
    function ChangeBloc() {
        $.ajax({
            url: '@Url.Action("GetGroupsByBloc")',
            data: { BlocId: $('#BlocId').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data, function (i) {
                    optionhtml += '<option value="' + data[i]['id'] + '"' +
                        (data[i]['id'] == $('#GroupId').val() ? 'selected' : '') +
                        '>' + data[i]['nameCode'] +
                        '</option>';
                });
                $("#GroupId").empty();
                $('#GroupId').append(optionhtml);
                ChangeGroup();
            },
            error: function () {
            }
        });
    };

    function ChangeGroup() {
        $.ajax({
            url: '@Url.Action("GetRegularIndicatorByGroup")',
            data: { GroupId: $('#GroupId').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data, function (i) {
                    optionhtml += '<option value="' + data[i]['id'] + '"' +
                        (data[i]['id'] == $('#IndicatorId').val() ? 'selected' : '') +
                        '>' + data[i]['nameCode'] +
                        '</option>';
                });
                $("#IndicatorId").empty();
                $('#IndicatorId').append(optionhtml);
            },
            error: function () {
            }
        });
    };

    $(document).ready(function (e) {
        if ($('#backlinktext').val()) {
            $('#backlink').prop("href", document.referrer);
        }
        else {
            $('#backlinktext').val(document.referrer);
        }
        if (!$('#backlink').prop("href")) {
            $('#backlink').prop("href", document.referrer);
        }
        ChangeBloc();
    });
</script>