@*@model AtlasSD.Models.IndicatorValueViewModel*@
@using AtlasSD.Controllers
@using Microsoft.Extensions.Localization;
@using System.Net
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["ReportIndicator"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["ReportIndicator"]</h2>

<form asp-action="ReportIndicator">
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <h4>
            @SharedLocalizer["Error"]: @ViewBag.Error
        </h4>
        <br />
    }
    <div class="form-horizontal">
        <h4>@SharedLocalizer["ReportGenerate"]</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Bloc"]</label>
            <div class="col-md-10">
                @Html.DropDownList("BlocId", (IEnumerable<SelectListItem>)ViewBag.BlocId, htmlAttributes: new { @id = "BlocId", @class = "form-control", @onchange = "ChangeBloc()" })
                @*<span asp-validation-for="BlocId" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Group"]</label>
            <div class="col-md-10">
                @Html.DropDownList("GroupId", (IEnumerable<SelectListItem>)ViewBag.GroupId, htmlAttributes: new { @id = "GroupId", @class = "form-control", @onchange = "ChangeGroup()" })
                @*<span asp-validation-for="GroupId" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Indicator"]</label>
            <div class="col-md-10">
                @Html.DropDownList("IndicatorId", (IEnumerable<SelectListItem>)ViewBag.IndicatorId, htmlAttributes: new { @id = "IndicatorId", @class = "form-control" })
                @*<span asp-validation-for="IndicatorId" class="text-danger"></span>*@
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Region"] 1</label>
            <div class="col-md-10">
                @Html.DropDownList("RegionCode1", (IEnumerable<SelectListItem>)ViewBag.RegionCode, "", htmlAttributes: new { @id = "RegionCode1", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Region"] 2</label>
            <div class="col-md-10">
                @Html.DropDownList("RegionCode2", (IEnumerable<SelectListItem>)ViewBag.RegionCode, "", htmlAttributes: new { @id = "RegionCode2", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Region"] 3</label>
            <div class="col-md-10">
                @Html.DropDownList("RegionCode3", (IEnumerable<SelectListItem>)ViewBag.RegionCode, "", htmlAttributes: new { @id = "RegionCode3", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Year"] 1</label>
            <div class="col-md-10">
                @Html.DropDownList("Year1", (IEnumerable<SelectListItem>)ViewBag.Year, "", htmlAttributes: new { @id = "Year1", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Year"] 2</label>
            <div class="col-md-10">
                @Html.DropDownList("Year2", (IEnumerable<SelectListItem>)ViewBag.Year, "", htmlAttributes: new { @id = "Year2", @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">@SharedLocalizer["Year"] 3</label>
            <div class="col-md-10">
                @Html.DropDownList("Year3", (IEnumerable<SelectListItem>)ViewBag.Year, "", htmlAttributes: new { @id = "Year3", @class = "form-control" })
            </div>
        </div>
        <input id="backlinktext" type="hidden" name="backlink" value="@ViewBag.BackLink" />
        <div id="Create" class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@SharedLocalizer["Download"]" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<script>
    function ChangeBloc() {
        $.ajax({
            url: '@Url.Action("GetGroupsByBloc")',
            data: { BlocId: $('#BlocId').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data, function (i) {
                    optionhtml += '<option value="' + data[i]['id'] + '"' +
                        (data[i]['id'] == $('#GroupId').val() ? 'selected' : '') +
                        '>' + data[i]['nameCode'] +
                        '</option>';
                });
                $("#GroupId").empty();
                $('#GroupId').append(optionhtml);
                ChangeGroup();
            },
            error: function () {
            }
        });
    };

    function ChangeGroup() {
        $.ajax({
            url: '@Url.Action("GetRegularIndicatorByGroup")',
            data: { GroupId: $('#GroupId').val() },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data, function (i) {
                    optionhtml += '<option value="' + data[i]['id'] + '"' +
                        (data[i]['id'] == $('#IndicatorId').val() ? 'selected' : '') +
                        '>' + data[i]['nameCode'] +
                        '</option>';
                });
                $("#IndicatorId").empty();
                $('#IndicatorId').append(optionhtml);
            },
            error: function () {
            }
        });
    };

    $(document).ready(function (e) {
        if ($('#backlinktext').val()) {
            $('#backlink').prop("href", document.referrer);
        }
        else {
            $('#backlinktext').val(document.referrer);
        }
        $('#backlink').prop("href", $('#backlinktext').val());
        ChangeBloc();
    });
</script>