@model AtlasSD.Models.DollarRate
@using AtlasSD.Controllers
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Delete"]</h2>

<h3>@SharedLocalizer["Delete"]?</h3>
<div>
    <h4>@SharedLocalizer["DollarRate"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @SharedLocalizer["RelatedItems"]
        </dt>
        <dd>
            @if (((IQueryable<Indicator>)ViewBag.Indicators).Count() > 0)
            {
                <table class="table red">
                    <tr>
                        <th>
                            @SharedLocalizer["Indicators"]
                        </th>
                    </tr>
                    @foreach (var indicator in (IQueryable<Indicator>)ViewBag.Indicators)
                {
                        <tr>
                            <td>
                                @indicator.NameCode
                            </td>
                            <td>
                                <a asp-controller="Indicators" asp-action="Delete" asp-route-id="@indicator.Id">@SharedLocalizer["Delete"]</a>
                            </td>
                        </tr>
                    }
                </table>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-default" /> |
            <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
        </div>
    </form>
</div>
